# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Venv
pyvenv.cfg
.venv
.venv/

.tool-versions
.gitattributes


# Large Datasets
boletim_urna_RN.csv
perfil_eleitor_secao_ATUAL_RN.csv

# Referencias
perfil_eleitor_secao_ATUAL_AM.csv
bweb_1t_AM_051020221321.csv
Eleições Manaus 2022 1o turno.ipynb
FaixasIdade.csv
EstadoCivil.csv
Escolaridade.csv

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks